# Put this file in /etc/systemd/system/puma.service,
# and then reload the service configuration via
# sudo systemctl daemon-reload

[Unit]
Description=Puma HTTP Server
After=network.target

# Limit on restarts
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]

Type=simple
User=admin
WorkingDirectory={{app_directory}}/current
RuntimeDirectory=puma

# Path to PID file so that systemd knows which is the master process
PIDFile=/run/puma/puma.pid

# Restart is done as restart, not phased-restart.
# phased-restart is possible, but requires WEB_CONCURRENCY >= 2,
# and has several limitations:
# https://github.com/puma/puma/blob/master/docs/restart.md

ExecStart  = /bin/bash -lc 'bundle exec pumactl start -F config/puma.rb'
# ExecReload = /bin/bash -lc 'bundle exec pumactl restart -F config/puma.rb -P /run/puma/puma.pid'
ExecStop   = /bin/bash -lc 'bundle exec pumactl stop -F config/puma.rb'

# if we crash, restart
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
