{{app_directory}}/shared/log/*.log {
    hourly # Requires actually setting logrotated to run more often with cron
    su appdeployer appdeployer
    create 664 appdeployer appdeployer
    size 10M
    missingok
    rotate 520
    compress
    delaycompress
    notifempty
    copytruncate
    dateext
    dateformat -%Y-%m-%d--%s
}
