[Unit]
Description=sidekiq
After=syslog.target network.target redis.service

# Limit on restarts
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory={{app_directory}}/current
ExecStart=/bin/bash -lc 'bundle exec sidekiq -e {{rails_env}}'
User=admin
Group=admin
UMask=0002

# if we crash, restart
RestartSec=5
Restart=on-failure

# Output goes to log file
StandardOutput=file:{{app_directory}}/current/log/sidekiq.log

SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
